---
import Layout from "../layouts/Layouts.astro";
const title = "Experience";
---

<Layout title={title}>
  <section id="recent-blog-posts" class="recent-blog-posts d-flex align-items-center mt-5">

    <div class="container aos-init aos-animate" data-aos="fade-up">
      <h1 class="text-center mb-5" style="font-size: 64px;">Experience</h1>
      
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h2 class="mb-0">Full Stack Developer</h2>
          <div class="subheading mb-3">CV. Aliansyah — Pati, Central Java, ID</div>
          <p>• Redeveloped exiting system to support store, warehouse, and finance</p>
          <p>• Build and test new website fiture</p>
          <p>• Develop and maintenance 10+ website using PHP and Javascript</p>
          <p>• Optimized SQL Query for the heavy-load parts of the system, which improved website
            performance by 30%</p>
          </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Sep 2022 - Now</span></div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h2 class="mb-0">Independent Study about Artificial Intelligence Mastery Program</h2>
          <div class="subheading mb-3">Orbit Future Academy</div>
          <p>• Participant of Kampus Merdeka In Study Independent Program Batch 2</p>
          <p>• I study about Deep Learning, Data Science, Natural Language Processing, Computer
            Vision, Reinforcement Learning, and Version Control System</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">March 2022 - Jul 2022</span></div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h2 class="mb-0">Mobile Developer</h2>
          <div class="subheading mb-3">PT PJB UBJOM Rembang (Internship) — Rembang, Central Java, ID</div>
          <p>• Work together with different teams to deliver high-quality software</p>
          <p>• Monitor the process of running the application and resolve errors in the application</p>
          <p>• Integrated REST API from backend to mobile aplications</p>
          <p>• Development application using Flutter</p>
          <p>• Design UI and UX application with usability testing</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Sep 2021 - Nov 2021</span></div>
      </div>

    </div>

  </section>
</Layout>
