---
import Layout from "../layouts/Layouts.astro";
const title = "Project";
---

<Layout title={title}>
  <section id="recent-blog-posts" class="recent-blog-posts d-flex align-items-center mt-5">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <h1 class="text-center mb-5" style="font-size: 64px;">Project</h1>
      <div class="row">
        <div
          class="col-lg-4 col-sm-12 mb-5 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="post-box">
            <img
              src="assets/img/PPDB-PPS-Fathul-Ulum.png"
              class="img-fluid"
              alt=""
            />
            <h3 class="post-title">PPDB PPS Fathul Ulum</h3>
            <p>
              PPDB PPS Fathul Ulum is a service system designed to facilitate
              the automation of the implementation of New Student Admissions
              (PPDB), from the new student registration process, selection to
              announcement of selection results through the system.
            </p>
            <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
              <span class="badge rounded-pill text-bg-primary">Laravel 8</span>
              <span class="badge rounded-pill text-bg-primary">Boosttrap 5</span
              >
              <span class="badge rounded-pill text-bg-primary">MySQL</span>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-sm-12 mb-5 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="post-box">
            <img src="assets/img/budayaku.png" class="img-fluid" alt="" />
            <!-- <div class="meta">
                            <span class="post-date">Tue, December 12</span>
                            <span class="post-author"> / Julia Parker</span>
                        </div> -->
            <h3 class="post-title">Budayaku</h3>
            <p>
              Budayaku is a website that is expected to become the center of
              online-based cultural competition. Competition organizer get
              convenience in making competitions, the process of collecting
              works, and assessment of participants' work. While participants
              can see all competitions running and participating in it.
            </p>
            <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
              <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
                <span class="badge rounded-pill text-bg-primary">Laravel 7</span
                >
                <span class="badge rounded-pill text-bg-primary">Ajax</span>
                <span class="badge rounded-pill text-bg-primary"
                  >Boosttrap 4</span
                >
                <span class="badge rounded-pill text-bg-primary">MySQL</span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-sm-12 mb-5 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="post-box">
            <img src="assets/img/uisi-lapor.jpeg" class="img-fluid" alt="" />
            <!-- <div class="meta">
                            <span class="post-date">Tue, December 12</span>
                            <span class="post-author"> / Julia Parker</span>
                        </div> -->
            <h3 class="post-title">UISI Lapor</h3>
            <p>
              UISI Report is a website that is used to report all problems on
              campus, such as reporting lost items, reporting finding items, and
              reporting damaged campus facilities.
            </p>
            <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
              <span class="badge rounded-pill text-bg-primary">Laravel 7</span>
              <span class="badge rounded-pill text-bg-primary">Boosttrap 4</span
              >
              <span class="badge rounded-pill text-bg-primary">MySQL</span>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-sm-12 mb-5 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="post-box">
            <img src="assets/img/myvil.png" class="img-fluid" alt="" />
            <h3 class="post-title">MyVill</h3>
            <p>
              MyVill is an application to solve problems in the village for the
              development of the nation.
            </p>
            <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
              <span class="badge rounded-pill text-bg-primary">Laravel 8</span>
              <span class="badge rounded-pill text-bg-primary">Boosttrap 5</span
              >
              <span class="badge rounded-pill text-bg-primary">MySQL</span>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-sm-12 mb-5 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="post-box">
            <img src="assets/img/alter-admin.png" class="img-fluid" alt="" />
            <h3 class="post-title">Alter Admin</h3>
            <p>
              Alter Admin is Point of Sale (POS) System is basically a
              management system for store, where a system user can add, update
              and delete item from menu and generate bills.
            </p>
            <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
              <span class="badge rounded-pill text-bg-primary">Laravel 9</span>
              <span class="badge rounded-pill text-bg-primary">Boosttrap 5</span
              >
              <span class="badge rounded-pill text-bg-primary">JQuery</span>
              <span class="badge rounded-pill text-bg-primary">MySQL</span>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-sm-12 mb-5 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="post-box">
            <img src="assets/img/wild_vs_nowild.jpg" class="img-fluid" alt="" />
            <h3 class="post-title">Wild vs No Wild Classification</h3>
            <p>
              Wild vs No Wild : Flask app Using Convolutional Neural Network
              (CNN) to recognize wild vs no wild animal with very high accuracy
              up to 95%.
            </p>
            <div class="mt-3 d-flex gap-2 justify-content-start flex-wrap">
              <span class="badge rounded-pill text-bg-primary">Python</span>
              <span class="badge rounded-pill text-bg-primary">Tensorflow</span>
              <span class="badge rounded-pill text-bg-primary">Flask</span>
              <span class="badge rounded-pill text-bg-primary">Boosttrap 5</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
