---
import Layout from "../layouts/Layouts.astro";
import Card from "../components/Card.astro";
const title = "Skills";
---

<Layout title={title}>
  <section
    id="featured-services"
    class="featured-services d-flex align-items-center mt-5"
  >
    <div class="container">
      <h1 class="text-center mb-5" style="font-size: 64px;">Skills</h1>
      <div class="row gy-4">
        <Card
          link="assets/img/logo_boosttrap.svg"
          alt="Boosttrap"
          content="Boosttrap"
        />
        <Card link="assets/img/logo_css.svg" alt="CSS" content="CSS" />
        <Card link="assets/img/logo_figma.svg" alt="Figma" content="Figma" />
        <Card link="assets/img/logo_html.svg" alt="HTML" content="HTML" />
        <Card
          link="assets/img/logo_laravel.svg"
          alt="Laravel"
          content="Laravel"
        />
        <Card link="assets/img/logo_php.svg" alt="PHP" content="PHP" />
        <Card link="assets/img/logo_dart.svg" alt="Dart" content="Dart" />
        <Card
          link="assets/img/logo_flutter.svg"
          alt="Flutter"
          content="Flutter"
        />
        <Card link="assets/img/logo_git.svg" alt="GIT" content="GIT" />
        <Card link="assets/img/logo_python.svg" alt="Python" content="Python" />
        <Card
          link="assets/img/logo_javascript.svg"
          alt="Javascript"
          content="Javascript"
        />
        <Card
          link="assets/img/logo_inertia.png"
          alt="InertiaJS"
          content="InertiaJS"
        />
        <Card link="assets/img/logo_vuejs.svg" alt="VueJS" content="VueJS" />
        <Card link="assets/img/logo_astro.svg" alt="AstroJS" content="AstroJS" />
        <Card link="assets/img/logo_mysql.svg" alt="MySQL" content="MySQL" />
        <Card
          link="assets/img/logo_postgresql.svg"
          alt="PostgreSQL"
          content="PostgreSQL"
        />
      </div>
    </div>
  </section>
</Layout>
