---
import Layout from "../layouts/Layouts.astro";
import SkillsCard from "../components/SkillsCard.astro";
const title = "Skills";
---

<Layout title={title}>
  <section
    id="featured-services"
    class="featured-services d-flex align-items-center mt-5"
  >
    <div class="container">
      <h1 class="text-center mb-5" style="font-size: 64px;">Skills</h1>
      <div class="row gy-4">
        <SkillsCard
          link="assets/img/logo_boosttrap.svg"
          alt="Boosttrap"
          content="Boosttrap"
        />
        <SkillsCard link="assets/img/logo_css.svg" alt="CSS" content="CSS" />
        <SkillsCard
          link="assets/img/logo_figma.svg"
          alt="Figma"
          content="Figma"
        />
        <SkillsCard link="assets/img/logo_html.svg" alt="HTML" content="HTML" />
        <SkillsCard
          link="assets/img/logo_laravel.svg"
          alt="Laravel"
          content="Laravel"
        />
        <SkillsCard link="assets/img/logo_php.svg" alt="PHP" content="PHP" />
        <SkillsCard link="assets/img/logo_dart.svg" alt="Dart" content="Dart" />
        <SkillsCard
          link="assets/img/logo_flutter.svg"
          alt="Flutter"
          content="Flutter"
        />
        <SkillsCard link="assets/img/logo_git.svg" alt="GIT" content="GIT" />
        <SkillsCard
          link="assets/img/logo_python.svg"
          alt="Python"
          content="Python"
        />
        <SkillsCard
          link="assets/img/logo_javascript.svg"
          alt="Javascript"
          content="Javascript"
        />
        <SkillsCard
          link="assets/img/logo_inertia.png"
          alt="InertiaJS"
          content="InertiaJS"
        />
        <SkillsCard
          link="assets/img/logo_vuejs.svg"
          alt="VueJS"
          content="VueJS"
        />
        <SkillsCard
          link="assets/img/logo_astro.svg"
          alt="AstroJS"
          content="AstroJS"
        />
        <SkillsCard
          link="assets/img/logo_mysql.svg"
          alt="MySQL"
          content="MySQL"
        />
        <SkillsCard
          link="assets/img/logo_postgresql.svg"
          alt="PostgreSQL"
          content="PostgreSQL"
        />
      </div>
    </div>
  </section>
</Layout>
