---
//Import CSS file
import "../styles/main.css";
import "../styles/variables.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../layouts/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{title} | Ahmad Nurul Laiq</title>

    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <ViewTransitions />

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link type="image/svg+xml" href="/favicon.svg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <Header />
    <slot />

    <!-- Template Main JS File -->
    <script>
      import "../utils/main.js";
    </script>

    <script>
      window.addEventListener("DOMContentLoaded", function () {
        // Get the checkbox
        const checkbox = document.getElementById("checkbox");

        // Check if theme is dark in localStorage
        if (localStorage.getItem("theme") === "dark") {
          setDarkMode();

          // Check if checkbox was checked when dark mode was set
          const checkbox = document.getElementById(
            "checkbox"
          ) as HTMLInputElement;
          if (checkbox && checkbox.checked) {
            localStorage.setItem("checkbox", "true");
          }
        }

        // Event listener for checkbox change
        if (checkbox) {
          checkbox.addEventListener("change", function () {
            setDarkMode();
          });
        }

        // Function to set dark mode
        function setDarkMode() {
          console.log("setDarkMode");
          let isDark = document.body.classList.toggle("darkmode");

          if (isDark) {
            if (checkbox) {
              const checkbox = document.getElementById(
                "checkbox"
              ) as HTMLInputElement;
              if (checkbox) {
                checkbox.checked = true;
              }
            }
            localStorage.setItem("theme", "dark");
          } else {
            if (checkbox) {
              const checkbox = document.getElementById(
                "checkbox"
              ) as HTMLInputElement;
              checkbox.checked = false;
            }
            localStorage.removeItem("theme");
          }
        }
      });

      document.addEventListener("astro:after-swap", function () {
        // Get the checkbox
        const checkbox = document.getElementById("checkbox");

        // Check if theme is dark in localStorage
        if (localStorage.getItem("theme") === "dark") {
          setDarkMode();

          // Check if checkbox was checked when dark mode was set
          const checkbox = document.getElementById(
            "checkbox"
          ) as HTMLInputElement;
          if (checkbox && checkbox.checked) {
            localStorage.setItem("checkbox", "true");
          }
        }

        // Event listener for checkbox change
        if (checkbox) {
          checkbox.addEventListener("change", function () {
            setDarkMode();
          });
        }

        // Function to set dark mode
        function setDarkMode() {
          console.log("setDarkMode");
          let isDark = document.body.classList.toggle("darkmode");

          if (isDark) {
            if (checkbox) {
              const checkbox = document.getElementById(
                "checkbox"
              ) as HTMLInputElement;
              if (checkbox) {
                checkbox.checked = true;
              }
            }
            localStorage.setItem("theme", "dark");
          } else {
            if (checkbox) {
              const checkbox = document.getElementById(
                "checkbox"
              ) as HTMLInputElement;
              checkbox.checked = false;
            }
            localStorage.removeItem("theme");
          }
        }
      });
    </script>

    <!-- Vendor JS Files -->
    <script is:inline src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script is:inline src="assets/vendor/aos/aos.js"></script>
    <script is:inline src="assets/vendor/glightbox/js/glightbox.min.js"
    ></script>
    <script is:inline src="assets/vendor/isotope-layout/isotope.pkgd.min.js"
    ></script>
    <script is:inline src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
